

body {
  background-color: #0066FF;
  margin: auto;
  text-align: center;
  background-image: "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/smart-dog-lead-1550144985.jpg?crop=1.00xw:0.753xh;0,0.186xh&resize=480:*"
}



h1  {
  background-color:  #F7FDAF;
  height: 150px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

}
